html, body {
	background-color: black;
	height: 100%;
	font-family: Verdana, sans-serif;
	background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
  	overflow: hidden;
  	color: white;
}
h1 {
	font-family: Just Another Hand, Verdana, sans-serif;
	font-size: 5em;
}