<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Creative Universe</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../static/css/add.css">
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  		<link href='http://fonts.googleapis.com/css?family=Just+Another+Hand' rel='stylesheet' type='text/css'>
	</head>

	<body>
		<div class="container">
			<h1 font-family="Just Another Hand"><u>Submit a new idea</u></h1>
			<form action="{{ url_for('ideas') }}" method="post" role="form">
				<div class="form-group">
					<label for="title">Title:</label>
					<input type="text" class="form-control" name="title" placeholder="What is the name of your idea?">
				</div>	
				<div class="form-group">
					<label for="category">Category:</label>
					<input type="text" class="form-control" name="category" placeholder="e.g gaming, software, tools, etc.">
				</div>		
				<div class="form-group">
					<label for="description">Description:</label>
					<textarea class="form-control" rows="10" id="description" placeholder="Enter the specific details of your idea here!"></textarea>
				</div>		
				<button type="submit" class="btn btn-lg btn-success">
	      			<span class="glyphicon glyphicon-pencil"></span> 
	      			Submit idea
	      		</button>
      		</form>
		</div>
	</body>
</html>