<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Creative Universe</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../static/css/add.css">
		<link href='http://fonts.googleapis.com/css?family=Just+Another+Hand' rel='stylesheet' type='text/css'>
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>

	<body>
		<!-- Main header -->
		<div class="container">
			<table class="table">
			<h1><u>Idea Title:</u>
			{% for value in name %} 
				{% for element in value %}
					{{ element }} 
				{% endfor %}
			{% endfor %} 
			</h1>
			<hr>
			<h1><u>Category:</u>
			{% for value in category %} 
				{% for element in value %}
					{{ element }} 
				{% endfor %}
			{% endfor %} 
			</h1>
			<hr>
			<h1><u>Description:</u></h1>
			<h2>
				{% for value in description %} 
					{% for element in value %}
						{{ element }} 
					{% endfor %}
				{% endfor %} 
			</h2>
			</table>
		</div>
	</body>
</html>