<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Creative Universe</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../static/css/stylesheet.css">
		<link href='http://fonts.googleapis.com/css?family=Just+Another+Hand' rel='stylesheet' type='text/css'>
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>

	<body>
		<!-- Main header -->
		<div class="container">
			<div class="panel panel-default col-lg-10" style="color: black; font-family: Verdana">
				<div class="panel-heading"><h4><b>Ideas</b></h4><i>Click an idea for more information</i></div>
				<div class="panel-body" style="min-height: 600px; max-height: 600px; overflow-y:scroll;">
					<table class = "table">
						<thead>
							<th> Idea Name </th>
						</thead>
						<tbody>
						{% for value in rows %}
						<tr>
							{% for elem in value %}
					        <td><a href="http://www.Google.com">{{ elem }}</a></td>
					        {% endfor %}
						</tr>
						</a>
						{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</body>
</html>