<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Creative Universe</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../static/css/add.css">
		<link href='http://fonts.googleapis.com/css?family=Just+Another+Hand' rel='stylesheet' type='text/css'>
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>

	<body>
		<div class = "container text-center" style="font-family: Verdana">
			<h2><b>Thanks! Your idea has been sent for approval.</b></h2>
			<p>In our lifetime, we have thousands of ideas that go to the grave with us. It is my goal to bring your brilliance into the universe where it belongs. People like you are how the world will become a better place.</p>
		</div>
	</body>
</html>