<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Creative Portal</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../static/css/stylesheet.css">
		<link href='http://fonts.googleapis.com/css?family=Just+Another+Hand' rel='stylesheet' type='text/css'>
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>

	<body>
		<canvas id="space"></canvas>
		<div class="container">
			<!-- Creativity Fade in -->
			<div class="animateClass">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-centered">
						<div class="creativity">
							<span>C</span>
							<span>R</span>
							<span>E</span>
							<span>A</span>
							<span>T</span>
							<span>I</span>
							<span>V</span>
							<span>I</span>
							<span>T</span>
							<span>Y</span>
						</div>
					</div>
				</div>
				<!-- <div class="row">
					<div class=" col-md-6 col-centered">
						<div class="animateClass2 portal">
							<span>
								P
								O
								R
								T
								A
								L
							</span>
						</div>
					</div>
				</div> -->
			</div>
		</div>
		<script src="../static/js/stars.js"></script>
	</body>
</html>